.search-box {
  display: flex;
  /* background: red; */
}

.dashboard-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background: linear-gradient(180deg, #c837ab 0%, #040404 100%); */
  height: 100vh;
  overflow-y: auto;
  background: #bd34a2;
}

input[type="search"] {
  display: flex;
  flex: 1;
  border: none;
  background: transparent;
  margin: 16px;
  padding: 12px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid gray;
  border-radius: inherit;
  border-radius: 8px;
  border: 1px solid #000;
  background: rgba(156, 212, 252, 0.87);
}
.tabs {
  padding: 8px 16px;
  cursor: pointer;
  justify-content: space-around;
  /* display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly; */
}
